.slick-dots {
  position: absolute !important;
  bottom: -15px !important;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 4px !important;
  height: 0 !important;
  margin: 0 8px !important;
  padding: 0;
  cursor: pointer;
  transform: rotate(180deg) !important;
}

.slick-dots li button:before {
  font-size: 0px !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px !important;
  height: 12px !important;
  text-align: center;
  opacity: 1 !important;
  background: #f1f1f1 !important;
  color: #f1f1f1 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #beddff !important;
  height: 60px !important;
}
